// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(40, 62, 74);
}

#container {
flex: 1 0 auto;
}

#form {
  margin-top: 7%;
}

#test {
  display: block;
}


// GAME STYLING
#game_container {

img {
  position: absolute;
  background-size: contain;
  width: 100%;
}

@keyframes fall {
  0% {
    top: 0%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 100%;
  }
}

.resume0 {
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  animation: fall 3s linear ;
}

.resume1 {
  width: 10%;
  position: absolute;
  top: 0;
  left: 30%;
  animation: fall 3s linear ;
}

.resume2 {
  width: 10%;
  position: absolute;
  top: 0;
  left: 60%;
  animation: fall 3s linear ;
}

.resume3 {
  width: 10%;
  position: absolute;
  top: 0;
  left: 90%;
  animation: fall 3s linear ;
}
 // height:  130px;
 //  width:  130px;
 //  display: inline-block;
 //  position: absolute;
 //  top:  0;
 //  animation:  fall 6s linear infinite;
.resume0:hover {
  cursor: pointer;
}

.resume1:hover {
  cursor: pointer;
}

.resume2:hover {
  cursor: pointer;
}

.resume3:hover {
  cursor: pointer;
}


#home {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  z-index: 100;
}


}
 // end Game Styles

