// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.parallax-container {
  flex: 1 0 auto;
}


// GAME STYLING
#game_container {

img {
  position: absolute;
  background-size: contain;
  width: 100%;
}

@keyframes fall {
  0% {
    margin-top: 0%;
  }
  50% {
    margin-top: 50%;
  }
  100% {
    margin-top: 100%;
  }
}

.resume {
  width: 10%;
  position: absolute;
  top: 0;
  left: 50%;
  animation: fall 6s linear infinite;
}

.resume:hover {
  cursor: pointer;
}


#home {
  position: absolute;

  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}



}

