    <div id="background">
      <%= image_tag("web-bg.png", class: "bgimage") %>

      <div id="content">
        <span id="logo">easy</span>
        <span id="cv">CV</span>
        <p style="color: white;">by <%= image_tag("linkedinw.png") %></p>

        <ps style="color: white;">Easily create a professional resume</p>
        <button id="btn"><a style="color: white;" href="/resumes">Build a Resume</a></button>
      </div>
    </div>





