    <nav id="navbar" class="transparent">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/resumes">Create a Resume</a></li>
          </ul>
    </nav>


    <div id="background">
      <%= image_tag("web-bg.png", class: "bgimage") %>

      <div id="content">
        <span id="logo">Easy</span>
        <span id="cv">CV</span>
        <p>Powered by: <%= image_tag("linkedinlogo2.png") %></p>

        <button><a href="/resumes">Build a Resume</a></button>
      </div>

    </div>





